body {
    padding-top: 5px;
    /*padding-bottom: 40px;*/
}
*{
    word-wrap: normal;
    white-space: normal;
}
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
img.logo_img{
    width:100% !important;
}
.col-lg-9.col-md-8.col-sm-7 h2,
.col-lg-9.col-md-8.col-sm-7 h4{
    color: #511b1b;
}
.container first{
    padding-top:20px;
}
.reglog{
    padding:0 2%;
}
.statement{
    margin:10px;
}
.statement h3{
    margin:0;
    padding:0;
    text-align: center;
}
#main_content{
    margin-bottom:20px;
    padding:10px 5px;
    background-color: #375a7f;
    /*
    border-width: 2px;
    border-color: white;
    border-style: solid;*/
}
#main_content .main .inmain{
    background-color: #fff;
    padding: 10px;
    border-width: 1px;
    border-color: black;
    border-style:inset;
    border-radius: 4px;
}
ul{
    list-style-type: none;
}
div ul{
    padding-left:5px;
    padding-bottom:5px;
}
div.menu div.menuu div a,
div.menu div.menuu div p{
    line-height: 45px;
    padding:0 10px;
    font-size:120%;
    color: #000;
}
div.menuu ul li a{
    line-height:25px !important;
    font-size: medium !important;
    padding: 0 !important;
}
div.menu div.menuu div{
    margin:5px;
    border-radius:3px;
    color: #000;
    background-image: url('/img/menu-bc.jpg');
    background-repeat: no-repeat;
}
div.menu div.menuu{
    /*background-color: #446e9b;*/
    border-width: 1px;
    border-color: black;
    border-style:inset;
    border-radius: 4px;
    padding:2px;
}
div.menu div hr{
    margin:10px 0;
    color: #000;
}
#main_content div.hidden-lg{
    margin:5px 0;
}
.right{
    float: right;
}
.center.administration{
    background-color: red;
    line-height:35px;
    margin:5px;
}
.right-menu div a{
    line-height: 20px !important;
    font-size: 15px !important;
}

.right-menu div{
    padding: 5px;
}

.right-menu div p{
    line-height: 25px !important;
    margin-bottom: 5px;
}
.right-menu div ul{
    margin-bottom: 0;
}

div.hidden-lg.hidden-xs.col-md-9.col-sm-9.border.menu.right.right-menu{
    border-width: 1px;
    border-color: black;
    border-style:inset;
    border-radius: 4px;
    padding:2px;
}
div.hidden-lg.hidden-xs.col-md-9.col-sm-9.border.menu.right.right-menu div.inset{
    margin:5px;
    border-radius:3px;
    color: #000;
    background-image: url('/img/menu-bc.jpg');
    background-repeat: no-repeat;
}
div.hidden-lg.hidden-xs.col-md-9.col-sm-9.border.menu.right.right-menu a{
    color: #000;
}
div.hidden-lg.hidden-xs.col-md-9.col-sm-9.border.menu.right.right-menu div.col-md-3.col-sm-3{
    margin-left: 5px;
    border-width: 1px;
    border-color: black;
    border-style:inset;
    border-radius: 4px;
    padding:2px;
}
p{
    color: #000 !important;
    font-size:15px;
}
