<div class="reglog">
    <?php
    $result = $this->result;
    if ($this->session != null) {
        echo($this->session . '<br>');
    }
    if ($result['isset'] == true) {
        if ($result['isValid'] == true) {
            echo '<h2>Успішно</h2>';
        } else {
            echo '<h2>Не вірний логін або пароль</h2>';
        }
    }
    if ($this->session != null) {
        echo '<h3>Бажаєте вийти?</h3>';
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url(null, array('action' => 'log_in')));

        // Set the method attribute for the form
        $form->setAttribute('method', 'post');

        // Get the form label plugin
        $formLabel = $this->plugin('formLabel');
        echo $this->form()->openTag($form);
        echo $this->formElement($form->get('logout'));
        echo $this->form()->closeTag();
    } else {
        echo '<h2>Авторизація</h2>';
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url(null, array('action' => 'log_in')));

        // Set the method attribute for the form
        $form->setAttribute('method', 'post');

        // Get the form label plugin
        $formLabel = $this->plugin('formLabel');

        // Render the opening tag
        echo $this->form()->openTag($form);

        echo '<div class="form_element">';
        $subject = $form->get('email');
        echo $this->formEmail($subject);
        echo $formLabel->openTag() . $subject->getOption('label');
        echo $this->formElementErrors($subject);
        echo $formLabel->closeTag();
        echo '</div>';

        echo '<div class="form_element">';
        $message = $form->get('password');
        echo $this->formPassword($message);
        echo $formLabel->openTag() . $message->getOption('label');
        echo $this->formElementErrors($message);
        echo $formLabel->closeTag();
        echo '</div>';


        echo $this->formElement($form->get('send'));
        echo $this->form()->closeTag();
    }
    ?>
    <br>
</div>