<?php $count = 0;
foreach ($this->paginator as $album) : // <-- change here!
    ?>
    <div class="statement">
        <a href="<?php echo $this->url('list', array('tablename' => 'main', 'id' => $album->id));?>">
            <?php echo '<h3>' ?>
            <?php
            echo $this->escapeHtml($album->name);
            echo '</h3>' ?>
        </a>
        <p>
            <?php echo $this->escapeHtml($album->info);
            $count = $count + 1;
            $lastid = $album->id;
            ?>
        </p>
        <hr>
    </div>

    <?php

endforeach;
?>

<?php

if ($this->ItemCountPerPage > $count || $this->count == $lastid) {
    $this->next = null;
} elseif ($this->next == null) {
    $this->next = 2;
} else {
    $this->next = $this->next + 1;
}
if ($this->pageCount): ?>
    <div style="margin-left: 40%;">
        <ul class="pagination">
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <li>
                    <a href="<?php echo $this->url(null, array('id' => $this->previous)) ?>">
                        <<
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">
                        <<
                    </a>
                </li>
            <?php endif; ?>
            <!-- Next page link -->
            <?php if ($this->next != null): ?>
                <li>
                    <a href="<?php echo $this->url($this->route);
                    echo $this->next; ?>/">
                        >>
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">
                        >>
                    </a>
                </li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>

