<div class="reglog">

<h2>
<?php

echo $this->message;

echo '<br></h2>';
if ($this->message != 'Реєстрація успішна') {
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(null, array('action' => 'sign_up')));

// Set the method attribute for the form
    $form->setAttribute('method', 'post');

// Get the form label plugin
    $formLabel = $this->plugin('formLabel');

// Render the opening tag
    echo $this->form()->openTag($form);
    echo '<div class="form_element">';
    $name = $form->get('name');
    echo $this->formInput($name);
    echo $formLabel->openTag() . $name->getOption('label');
    echo $this->formElementErrors($name);
    echo $formLabel->closeTag();
    echo '</div>';

    echo '<div class="form_element">';
    $subject = $form->get('email');
    echo $this->formEmail($subject);
    echo $formLabel->openTag() . $subject->getOption('label');
    echo $this->formElementErrors($subject);
    echo $formLabel->closeTag();
    echo '</div>';

    echo '<div class="form_element">';
    $message = $form->get('password');
    echo $this->formPassword($message);
    echo $formLabel->openTag() . $message->getOption('label');
    echo $this->formElementErrors($message);
    echo $formLabel->closeTag();
    echo '</div>';

    echo '<div class="form_element">';
    $message = $form->get('rpassword');
    echo $this->formPassword($message);
    echo $formLabel->openTag() . $message->getOption('label');
    echo $this->formElementErrors($message);
    echo $formLabel->closeTag();
    echo '</div>';

    echo $this->formElement($form->get('send'));
    echo $this->form()->closeTag();
}
?>
</div>