
    <?php
    echo($this->info);
    if ($this->role != null) {
        echo '<br><a href="';
        echo $this->url('admin', array('action' => 'edit', 'name'=>$this->name));
        echo '/" class="btn btn-default">Редагувати</a>';
    };
    ?>

