<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/style.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                ->prependStylesheet($this->basePath() . '/css/font-awesome.min.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js')
                ->prependFile($this->basePath() . '/js/tinymce/tinymce.min.js')
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ;
        ?>

        <script>tinymce.init({
                selector: 'textarea',
                insert_toolbar: 'quickimage quicktable',
                min_height: 300,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | fontselect | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons',
                image_advtab: true,
                fontsize_formats: '6pt 8pt 10pt 11pt 12pt 13pt 14pt 16pt 18pt 22pt 24pt 36pt',
                font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;AkrutiKndPadmini=Akpdmi-n',
                templates: [
                    {title: 'Test template 1', content: 'Test 1'}
                ]
            });
        </script>
    </head>
    <body>
        <div class="container"><br>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                <img class="logo_img" src="<?php echo $this->basePath('img/hospital_photo.jpg') ?>"/>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7">
                <h4><i><b>Комунальний заклад охорони здоров'я</b></i></h4>
                <h2><b>"Дубровицька центральна районна лікарня"</b></h2>
                <h4><i><b><br>Дубровицької районної ради</b></i></h4>
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <!--            <div class="container">-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><!--<img src="<?php /* echo $this->basePath('img/hospital_logo.png') */ ?>" style="height: 20px"/>-->&nbsp;&nbsp;&nbsp;<?php echo $this->translate('Головна') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="<?php echo $this->url('other', array('name' => 'history')) ?>"><?php echo $this->translate('Історія') ?></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Нормативна база <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $this->url('home', array('action' => 'project_decisions')) ?>">Проекти рішень</a></li>
                                <li><a href="<?php echo $this->url('home', array('action' => 'laws_and_regulations')) ?>">Закони та підзаконні акти</a></li>
                                <li><a href="<?php echo $this->url('home', array('action' => 'founding_documents')) ?>">Установчі документи</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $this->url('home', array('action' => 'gendep')) ?>"><?php echo $this->translate('Державні закупівлі') ?></a></li>
                        <li><a href="<?php echo $this->url('other', array('name' => 'contacts')) ?>"><?php echo $this->translate('Контакти') ?></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
                <!--            </div>-->
            </nav>
        </div>
        <div class="container">
            <div class="container-fluid" id="main_content">
                <div class="col-lg-2 col-md-3 col-sm-3 menu border left-menu">
                    <div class="menuu">
                        <div class="">
                            <a href="<?php echo $this->url('home', array('action' => 'administration')) ?>">Адміністрація</a>
                        </div>
                        <hr>
                        <div class="">
                            <p>Відділення</p>
                            <ul>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'polyclinic')) ?>">Поліклінічне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'reception')) ?>">Приймальне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'anaesthetic')) ?>">Анастезіоло&shyгічне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'therapeutic')) ?>">Терапевтичне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'neurological')) ?>">Неврологічне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'surgery')) ?>">Хірургічне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'obstetric-gynaecological')) ?>">Акушерськo - гінекологічне</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('department', array('name' => 'children')) ?>">Дитяче</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="">
                            <p>Інші</p>
                            <ul>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('other', array('name' => 'laboratory')) ?>">Лабораторія</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('other', array('name' => 'radiological-service')) ?>">Рентгенологіч&shyна служба</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('other', array('name' => 'physiotherapy-room')) ?>">Фізіотерапев&shyтичний кабінет</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('other', array('name' => 'information-department')) ?>">Інформацій&shyний відділ</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('other', array('name' => 'centralized-accounting')) ?>">Централізо&shyвана бухгалтерія</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 border main">
                    <div class="inmain">
                        <?php echo $this->content; ?>
                    </div>
                </div>
                <div class="col-lg-2 hidden-md hidden-sm border menu right-menu"><div class="menuu">
                        <div class="">
                            <a href="<?php echo $this->url('other', array('name' => 'info')) ?>">Інформація для громадян</a>
                        </div>
                        <hr>
                        <div class="">
                            <a href="<?php echo $this->url('other', array('name' => 'schedule')) ?>">Графік прийому лікарів</a>
                        </div>
                        <hr>
                        <div class="">
                            <a href="<?php echo $this->url('other', array('name' => 'medicines')) ?>">Медикаменти</a>
                        </div>
                        <hr>
                        <div class="">
                            <p>Платні послуги</p>
                            <ul>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('home', array('action' => 'general_department')) ?>">Медогляд</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('home', array('action' => 'general_department')) ?>">Комісія "огляд водія'"</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('home', array('action' => 'general_department')) ?>">Обстеження</a></li>
                                <li><i class="fa fa-chevron-right"></i><a href="<?php echo $this->url('home', array('action' => 'general_department')) ?>">Інше</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="">
                            <p>Гаряча лінія</p>
                            <img src="" alt="">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="hidden-lg hidden-xs col-md-9 col-sm-9 border menu right right-menu">
                    <div class="inset container-fluid">
                        <div class="col-md-3 col-sm-3">
                            <div class="">
                                <a href="#">Інформація для громадян</a>
                            </div>
                            <hr>
                            <div class="">
                                <a href="">Графік прийому лікарів</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="">
                                <p>Платні послуги</p>
                                <ul>
                                    <li><i class="fa fa-chevron-right"></i><a href="">Медогляд</a></li>
                                    <li><i class="fa fa-chevron-right"></i><a href="">Комісія "огляд водія'"</a></li>
                                    <li><i class="fa fa-chevron-right"></i><a href="">Обстеження</a></li>
                                    <li><i class="fa fa-chevron-right"></i><a href="">Інше</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <p>Гаряча лінія</p>
                            <img src="" alt="">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </div> <!-- /container -->
        <footer class="navbar-fixed-bottom">&emsp;&emsp;
            <a href="<?php echo $this->url('home', array('action' => 'log_in')) ?>">Log in</a>&emsp;&emsp;
            <a href="<?php echo $this->url('home', array('action' => 'sign_up')) ?>">Sign up</a>
        </footer>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
