<!--<form action="<?php /*echo $this->url('other', array('name' => $this->name)) */?>" method="post">
    <textarea name="" class="" id="editor" cols="30" rows="10">
        <?php /*echo $this->info; */?>
    </textarea>
    <hr>
    <button class="btn btn-default">Зберегти</button>

</form>-->

<?php
$form = $this->form;
$form->prepare();

// Assuming the "contact/process" route exists...
$form->setAttribute('action', $this->url('other', array('name' => $this->name)));

// Set the method attribute for the form
$form->setAttribute('method', 'post');

// Get the form label plugin
$formLabel = $this->plugin('formLabel');

// Render the opening tag
echo $this->form()->openTag($form);

echo '<div class="form_element">';
    $message = $form->get('message');
    echo $formLabel->openTag() . $message->getOption('label');
    echo $message->getValue();
    echo $this->formTextarea($message);
    echo $this->formElementErrors($message);
    echo $formLabel->closeTag();
    echo '</div>';

 echo $this->formElement($form->get('send'));

 echo $this->form()->closeTag() ?>